@model IdentityTutorial.Models.Game

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Game</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="GameId" />
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastMoveDate" class="control-label"></label>
                <input asp-for="LastMoveDate" class="form-control" />
                <span asp-validation-for="LastMoveDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MapLength" class="control-label"></label>
                <input asp-for="MapLength" class="form-control" />
                <span asp-validation-for="MapLength" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MapWidth" class="control-label"></label>
                <input asp-for="MapWidth" class="form-control" />
                <span asp-validation-for="MapWidth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IslandCoordinates" class="control-label"></label>
                <input asp-for="IslandCoordinates" class="form-control" />
                <span asp-validation-for="IslandCoordinates" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxHealth" class="control-label"></label>
                <input asp-for="MaxHealth" class="form-control" />
                <span asp-validation-for="MaxHealth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxMines" class="control-label"></label>
                <input asp-for="MaxMines" class="form-control" />
                <span asp-validation-for="MaxMines" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxDrones" class="control-label"></label>
                <input asp-for="MaxDrones" class="form-control" />
                <span asp-validation-for="MaxDrones" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxSneak" class="control-label"></label>
                <input asp-for="MaxSneak" class="form-control" />
                <span asp-validation-for="MaxSneak" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxTorpedo" class="control-label"></label>
                <input asp-for="MaxTorpedo" class="form-control" />
                <span asp-validation-for="MaxTorpedo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxSonar" class="control-label"></label>
                <input asp-for="MaxSonar" class="form-control" />
                <span asp-validation-for="MaxSonar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
